[Unit]
Description=clickname keyboard kmonad

[Service]
Type=simple
ExecStart=kmonad /home/clickname/dotfiles/kmonad/homerow.kbd
Restart=always

[Install]
WantedBy=default.target
